/* BODY[INICIO] */
body {
    width: 100%;
    margin: 0;
    font-family: Geneva, Verdana, sans-serif;
    font-size: 100%;
    line-height: 200%
}
/* BODY[FIM] */
/* CABECALHO[INICIO] */
#cabecalho {
    width: 100%;
    background-color: #FFFFFF;
    padding: 0 5% 0 5%;
    border-top: 1px solid #66B24C;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    float: left;
}
/* RODAPE[INICIO] */
#rodape {
    width: 100%;
    background-color: #F8F8F8;
    min-height: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
}
/* RODAPE[FIM] */
/* FUNDOS[INICIO] */
#fundo-primario, #fundo-secundario {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 8;
}